*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgimg2 {
    background-image: url('/static/imgs/imgconv.jpg');
	height: auto;
	width:auto;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* this below style is of text only */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-color: #111;
}

.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	/* background-size: cover; */
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 40px 0;
}
/* styling my button */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	/* background-color: #122; */
	border-radius: 5px;
	color: #FFF;
	transition: .20s ease-in-out;
	position: absolute;
	left: 30px;
	top: 1px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

/* ends here styling of text */
#war_mess {
	color: chartreuse;
	text-shadow: darkturquoise;
	text-decoration-color: floralwhite;
	font-style: unset;
}