*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bgimg {
    background-image: url("/static/imgs/img2.b9fc359fd9c9.jpg");
    height: 620px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
